/* This rule sets the height and width of the page to be 100% -- in other words, it fills the screen! */
html, body {
    height: 100%;
    width: 100%;
}

/* This adds a light cyan background to all the content that exist within the <body> tag */
body {
    background-color:beige;
}

h1, h2 {
    font-family: cursive;
}

a:hover {
    color: plum
}